html {
    font-size: 100%;
}
p{
    color: rgb(245, 240, 240);
}
.background{
    /* width: 100px; */
    min-width: 100px;
    max-width: 50%;
    /* height: 100px;*/
     min-height: 100px;
     max-height: 200px;
    background-color: #542ed0;
    overflow: auto;
}
.background2{
    /* width: 100rem;
    height: 100rem; */
    width: 100vw;
    height: 100vh;
    background: red 
    url("https://plus.unsplash.com/premium_photo-1698405316329-fd9c43d7e11c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat 
    center/cover;
}
.warp{
    width: 400px;
}
.em{
    width: 10em;
    height: 10em;
    background-color: #ea6308;
    font-size: 32px;
    color: #fff;
}
.rem{
    width: 10rem;
    height: 10rem;
    background-color: brown;
    font-size: 32px;
    color: #131313;
    border: 2px solid black;
    border-radius: 50%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: 2px solid red;
}
.margin{
    width: 14rem;
    height: 14rem;
    background-color: red;
    margin-bottom: 70px;
    
    /* margin: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 40px;
    margin: 20px;
    margin:20px 40px;
    margin: 10px 20px 30px;
    margin: 10px 20px 30px 40px; */
}

.margin2{
    
    margin-top: 50px;
    border-color: #f41c08;
    width: 14rem;
    height: 14rem;
}