strong{
    color: #fff;
    margin: 50px;
    background-color: green;
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 20px;
}
a{
    color: #fff;
    background-color: green;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 999px;
    display: inline-block;
}